html{
    font-size: 22px;
}

body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-attachment:fixed;;
    color:whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
}

.container{
    background-color: rgba(255, 255, 255, 0.493);
    width: 1200px;
    height: 100px;
    align-items:center;
}

.image-row {
    display: flex;
    justify-content: space-between;
}
.image-row img {
    width: 24%; /* Adjusts the image width, leaves space between images */
    height: auto; /* Keeps the aspect ratio */
}

.contact-info {
    display: flex;
    gap: 20px; /* Space between items */
    text-align: center;
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

figure:hover .hover-text {
    opacity: 1; /* Show text when hovering */
}

a {
    color: aliceblue;
}
a:visited{
    color: lightgray;
}
a:hover, a:active {
    color:#eee;
}
figcaption{
    font-size: 11px;
}


figure {
    position: relative; /* Required for text overlay */
    margin: 0;
    text-align: center;
}

button{
    background-color: #eeeeee63;
}

.fixed-nav {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #cccccc41;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it stays on top */
}

.fixed-nav a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.fixed-nav a:hover {
    color: #6e6b6b; /* Change color on hover */
}