* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    background-color: #f0f8ff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

    nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.intro {
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    color: #002366;
}

.username {
    font-style: italic;
    color: #555;
}

.description {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #666;
}

.social-icons a {
    margin-right: 15px;
}

.social-icons img {
    width: 30px;
}

.github-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #002366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

    .github-button:hover {
        background-color: #0056b3;
    }

.image-container {
    flex: 1;
}

.profile-image {
    max-width: 400px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f8ff;
    color: #333;
    margin-top: 50px;
}
